<<<<<<< HEAD
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="text-align: center">
        <h1> Welcome to Pillow Tactics!</h1>
        <img style="width:500px" src="https://cdn.shopify.com/s/files/1/2509/4402/products/11-2019_S4A_Supreme_Pillow1_King_PDP_Retouched_300dpi_RGB_2x3_M.jpg?v=1573835692" />
        <h2> Login WIP </h2>
    </div>
    </body>
</html>
