<div style="text-align: center">
    <h1> Welcome to Pillow Tactics!</h1>
    <img style="width:500px; border: 2px solid black;" src="https://ctl.s6img.com/society6/img/emyYNTZARWr1fhtte2GtOi9x6KY/w_1500/pillows/~artwork,fw_3500,fh_3500,iw_3500,ih_3500/s6-0082/a/32610063_3711166/~~/knights-sword-pillows.jpg" />
    <div class="login-form" style="width:400px; margin: auto; justify-content: flex-start;">
        <form class='form-group' [formGroup]="loginCred"  style="width:500px; margin: auto">
            <h2 class="text-center">Player Login</h2>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Username" placeholder="Username">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="Password" placeholder="Password">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="login(loginCred)">Log in</button>
            </div>
            <br>
        </form>
        <a class="btn btn-block btn-secondary" routerLink="/register" style="margin:auto; width:200px;">Create an Account</a>
    </div>
</div>
