<div style="text-align: center">
    <img style="border: 2px solid black;" src="https://github.com/210628-UTA-NET/img/blob/main/img_bank/swordandpillow.jpg?raw=true" />
    <div class="login-form" style="width:400px; margin: auto; justify-content: flex-start;">
        <form class='form-group' [formGroup]="loginCred"  style="width:400px; margin: auto">
            <h1 class="text-center">Player Login</h1>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Username" placeholder="Username">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" formControlName="Password" placeholder="Password">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="login(loginCred)">Log in</button>
            </div>
            <br>
        </form>
        <a class="btn btn-block btn-secondary" routerLink="/register" style="margin:auto; width:200px;">Create an Account</a>
    </div>
</div>
