<!DOCTYPE html>
<html>
<head>
    <style>
        .grid-container {
            display: inline-grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
            background-color: #332e27;
            padding: 10px;
        }

        .grid-item {
            background-color: #e8b26b;
            border: 1px solid rgba(0, 0, 0, 0.8);
            text-align: center;
            width: 50px;
            height: 50px;
        }
        .square {
            height: 30px;
            width: 30px;
            margin: 0;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            margin: 0;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="text-center">
        <!-- Describes the Arena and all elements contained within it -->
        <div class="grid-container">
            @for(int i = 0; i < 144; i++)
            {

                <!-- Describes each grid item and what is contained in each one -->
                <!-- Only a placeholder -->
            <div class="grid-item">
                

                @if (i == 52)
                {
                    <img style="transform:scaleX(-1)" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"/>
                }

                @if (i == 66)
                {
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"/>
                }
            </div>
            }
        </div>

        <!-- All info under the Arena-->
        <div>
            <!-- Describes Player 1 information and actions-->
            <div style="text-align:center; display:inline-block; width:340px">
                <!-- Describes Player 1 status info -->
                <!-- Only a placeholder -->
                <div>
                    HP: 100/100
                </div>
                <button>Attack!</button>
            </div>

            <!-- Describes Player 2 information and actions -->
            <div style="text-align:center; display:inline-block; width:340px">
                <!-- Describes Player 2 status info -->
                <div>
                    HP: 100/100
                </div>
                <button>Attack!</button>
            </div>
        </div>
    </div>
</body>
</html>