<div class='sidenav'>
    <form [formGroup]="arenaname">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="ArenaName" placeholder="Arena Name">
        </div>
        <br>
        <div class="form-group">
            <button (click)='addArena(arenaname)' class="btn btn-primary btn-block"> New Arena </button>
        </div>
    </form>
    
    <h3>Available Arenas</h3>
    <table>
        <thead>
            <th>Arena Name</th>
        </thead>
        <tbody>
            <tr *ngFor='let arena of arenas'>
                <td>
                    {{arena.Name}}
                </td>
                <td>
                    <button [class.clicked]='arena.Id === selectedArena?.Id' (click)='loadArena(arena.Id)' *ngIf>Join {{ arena.Name }}</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
