
<div class='sidenav'>
    <form [formGroup]="arenaname">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="ArenaName" placeholder="Arena Name">
        </div>
        <br>
        <div class="form-group">
            <button (click)='addArena(arenaname)' class="btn btn-primary btn-block"> New Arena </button>
        </div>
    </form>
    <br>
    <div>
        <button (click)="refreshArenaList()">Refresh Room List</button>
    </div>
    <br>
    <h3>Available Arenas</h3>
<!--         <div *ngFor='let arena of arenas'>
            <button [class.clicked]='arena.Id === selectedArena?.Id' (click)='loadArena(arena.Id)' *ngIf>Join {{ arena.name }}</button>
        </div> -->

        <div *ngFor='let arena of arenas'>
        <button class="btn btn-block btn-primary" style="width: 100px; height: 50px;"
        [class.selected]='arena.Id === selectedArena!.Id'
        (click)='loadArena(arena.Id)'
        routerLink="/arena">
        {{arena.name}}
    </button>
</div>
</div>
