
<div class='sidenav'>
    <form [formGroup]="arenaname">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="ArenaName" placeholder="Arena Name">
        </div>
        <br>
        <div class="form-group">
            <button (click)='addArena(arenaname)' class="btn btn-primary btn-block"> New Arena </button>
        </div>
    </form>
    <br>
    <div>
        <button (click)="refreshArenaList()">Refresh Room List</button>
    </div>
    <br>
    <h3>Available Arenas</h3>

        <div *ngFor='let arena of arenas'>
            <button class="btn btn-block btn-primary" style="width:relative; height: 50px;"  (click)='loadArena(arena.Id)'>
            {{arena.name}}
            </button>
            <br>
            <br>
</div>
</div>
