<div class="container-fluid" style="text-align: center;">
    <div class="body">
        <h1 class="title">Create Character</h1>
        <form [formGroup] = "blankGroup">
            <!--Entering a name-->
            <input type="text" class="form-control" style="width: 400px; margin: auto;" formControlName="name" placeholder="Character Name">
            <br>
    
            <!--Class Select-->
            <select class="form-select" style="width: 400px; margin: auto;" formControlName="characterClass">
                <option value="null" disabled selected hidden>Select Class</option>
                <option value="0">Fighter</option>
                <option value="1">Wizard</option>
                <option value="2">Rogue</option>
            </select>
            <br>
            <div>
                <button class="btn btn-primary"  (click) = "createCharacter(blankGroup)">Create Character</button>
            </div>
            <br>
            <div>
                <button class="btn btn-secondary" (click) = "returnToProfile()">Return To Profile</button>
            </div>
        </form>
    </div>
</div>