<div>
    <form [formGroup] = "blankGroup">
        <!--Entering a name-->
        <input type="text" class="form-control" formControlName="name" placeholder="Character Name">

        <!--Class Select-->
        <select class="form-select" formControlName="characterClass">
            <option value="null" disabled selected hidden>Select Class</option>
            <option value="0">Fighter</option>
            <option value="1">Wizard</option>
            <option value="2">Rogue</option>
        </select>

        <!--Weapon Select
        <select class="form-select" formControlName="weaponId">
            <option value="null" disabled selected hidden>Select Weapon</option>
            <option value="1">Vorpal Sword</option>
            <option value="2">Ordinary Bow</option>
        </select>

        Armor Select
        <select class="form-select" formControlName="armorId">
            <option value="null" disabled selected hidden>Select Armor</option>
            <option value="3">Armor of blah blah blah</option>
          </select> -->
        <button (click) = "createCharacter(blankGroup)">Create Character</button>
    </form>
</div>