<div class="text-center">
    <!-- Describes the Arena and all elements contained within it -->
    <div class="grid-container">
        <div class="grid-item" *ngFor="let index of grid">
            <img *ngIf="index == 52" style="transform:scaleX(-1)" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
            <img *ngIf="index == 66" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
        </div>
    </div>

    <!-- All info under the Arena-->
    <div>
        <p *ngIf="nextplayer ==false"> It is Player 1's turn</p>
        <p *ngIf="nextplayer==true"> It is Player 2's turn</p>
        <!-- Describes Player 1 information and actions-->
        <div style="text-align:center; display:inline-block; width:340px">
            <!-- Describes Player 1 status info -->
            <!-- Only a placeholder -->
            <div>
                <p>Player 1: </p>
                <div class=connected > <span>Connected</span></div>
                <div class=ready><span>Ready</span></div>
                    <button>Attack</button>   <button style="right: 50px;">Move</button>
                    <br>
                    <br>
                    <button>Surrender</button>
            </div>
            <div>
            <br>
            <button (click)="leaveRoom()" class="btn btn-block btn-danger" routerLink="/arenalist">Leave Room</button>
            <br>
        </div>
        </div>
        <!-- Describes Player 2 information and actions -->
        <div style="text-align:center; display:inline-block; width:340px">
            <!-- Describes Player 2 status info -->
            <div>
                <p>Player 2: </p>
                <div class=connected > <span>Connected</span></div>
                <div class=ready><span>Ready</span></div>
                    <button>Attack</button><button>Move</button>
                    <br>
                    <br>
                    <button>Surrender</button>
                <div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>